block variables

header.l-header.js-header
  .p-header
    .p-header__left
      #{logo_tag}.p-header__logo: a(href="/")
        img(src="./img/logo01.png", alt="ロゴ")
        | 石井花壇

      nav.p-header__nav
        ul
          - 
            const items = [
              {
                text: 'お部屋',
                link: 'room.html'
              },
              {
                text: 'お料理',
                link: 'menu.html'
              },
              {
                text: '温泉',
                link: 'onsen.html'
              }
            ];
          each item in items
            li: a(href=item.link) #{item.text}
      // /.l-header-nav

    .p-header__right
      button(data-target='for-modal').c-btn.p-header__cv-btn.js-modal 宿泊予約

    .p-header-drawer
      .drawer
        button.drawer-icon.c-open-close-btn.js-drawer.for-drawer(type="button" data-target="for-drawer" aria-controls="drawer-content1" aria-expanded="false")
          span.c-open-close-btn__bars
            - for(let i = 0; i < 3; i++)
              span.c-open-close-btn__bar
        .drawer-bg.for-drawer.js-drawer(data-target="for-drawer" aria-controls="drawer-content1" aria-expanded="false")
        #drawer-content1.drawer-content.for-drawer(aria-hidden="true")
          ul.drawer-nav
            each item in items
              li: a(href=item.link) #{item.text}
    // /.l-header-drawer
  // /.p-header
// /.l-header

include /pug/includes/_p-modal
|
|
