extend /pug/includes/_layout
append variables
  //- Required
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website"; // トップページは"website", それ以外は"article"
  //- Not modified
  - var pageUrl= relativePath;
  - var logo_tag = 'h1';
  - var pageName = "home";

prepend css

append css

append headscript

append breadcrumb
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "HOME",
          "item": "!{site.rootUrl}"
        }
      ]
    }

prepend js

append js
  //- script(src="./js/.js")

block content  
  .fv(data-aos="fade")
    .fv-slider.js-fv-slider
      .fv-slider__img: img(src="./img/mainbg01.jpg")
      .fv-slider__img: img(src="./img/mainbg02.jpg")
      .fv-slider__img: img(src="./img/mainbg03.jpg")
    .l-container.fv__container
      .fv__text-box(data-aos="fade-up" data-aos-duration="1000")
        p.fv__text 頑張る人の<br>
          | 頑張らない時間
    // /.l-container
  |
  |

  main.l-main
    section.concept-section.section
      .l-container
        .concept-section__inner.concept-section__content
          h2.concept-section__title(data-aos="fade-up" data-aos-duration="1000"): span 温海温泉の
            br
            | 美しさに癒やされて

          p.concept-section__text(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")
            | 東北の奥座敷である温海温泉郷<br>
            | 開湯は約1300年前とされ、役小角が<br>
            | 発見したと伝えられます<br>

          p.concept-section__text(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400")
            | 石井花壇は江戸より続く由緒ある旅館で<br>
            | クラシックな作りの中に大正ロマンあるれる<br>
            | 内装を残しております<br>

          p.concept-section__text(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600")
            | 圧倒的癒やしの空間で<br>
            | 頑張る現代人に<br>
            |頑張らない圧倒的な非日常をご提供します<br>

          p.concept-section__text.concept-section__footer(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800") 石井花壇

    section.service.p-section
      //- .l-container
      .p-alternate.service__list
        - 
          const services = [
            {
              img: 'oheya-top.jpg',
              alt: 'お部屋のイメージ',
              title: '喧騒から離れた空間<br>心落ち着く至極のひととき',
              text: 'まるで時が止まったかのような、圧倒的な静寂のなかで、<br>ひたすらにゆったりと…。<br>最高級の「何もしない時間」をお過ごしください。',
              footer: 'お部屋について',
              link: 'room.html'
            },
            {
              img: 'menu-top.jpg',
              alt: 'お料理のイメージ',
              title: '出迎えるのは<br>極上の温海料理',
              text: '最も旬の食材を愉しむ、最高の贅沢を<br>最高級A5ランクの米沢牛と共に頂く。<br>あなたの人生史に残る「極上の感動」を<br>お約束します。',
              footer: 'お料理について',
              link: 'menu.html'
            },
            {
              img: 'onsen-top.jpg',
              alt: '温泉のイメージ',
              title: '疲れ切った身体にやすらぎを<br>温海の源泉に癒やされて',
              text: '古くは弘法大師の病をも治療したと言われる熱海の泉質。<br>現代人の疲弊しきった身体を修復する最高級の湯治場として<br>ご活用ください。',
              footer: '温泉について',
              link: 'onsen.html'
            }
          ];
        each service in services
          .p-alternate__item.service__item.service-item
            figure.p-alternate__item-primary.service-item__img(data-aos="fade-up" data-aos-duration="1000")
              img(src=`./img/${service.img}`, alt=service.alt)
            .p-alternate__item-secondary.service-item__body(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")
              h2.service-item__title !{service.title}
              p.service-item__text !{service.text}
              .service-item__body-footer
                a.c-btn.more-btn(href=service.link)= service.footer

    section.recommended-section.p-section
      .l-container.p-section__content.p-section__content_padding-bottom_large
        h2.p-section__title(data-aos="fade-up" data-aos-duration="1000") おすすめご宿泊プラン
        .recommended-section__list(data-aos="fade-up" data-aos-duration="1000")
          - 
            const recommends = [
              {
                img: 'recommended01.jpg',
                alt: 'のどぐろがおいしい朝食のイメージ',
                lead: '朝食付きプラン、日本近海で取れたのどぐろを朝食として…',
                text: '最高級と称されるのどぐろ、正式には「アカムツ」と呼ばれる魚、味は独特の上品な味わいで、焼いても煮ても美味',
              },
              {
                img: 'recommended02.jpg',
                alt: '熱海蟹のお夕食のイメージ',
                lead: '【期間限定】熱海蟹をたっぷりと愉しむプラン。',
                text: '温海で水揚げされた蟹は「温海蟹」として知られ、嗜好品として愛されてきました。この宿泊プランでは存分に',
              },
              {
                img: 'recommended03.jpg',
                alt: '新鮮なお刺身の懐石料理のイメージ',
                lead: '【平日限定】贅沢美味懐石プラン。海辺の四季旬彩プラン。',
                text: '熱海近海で取れた魚を鮮度そのままに舟盛りにしてご提供。生きた味をお楽しみください。',
              },
            ];
          each recommend in recommends
            article.c-card.recommended-section__item
              a(href="").c-card__link
                figure.c-card__img: img(src=`./img/${recommend.img}`, alt=recommend.alt)
                .c-card__body
                  .c-card__lead !{recommend.lead}
                  .c-card__text !{recommend.text}

    section.news-section.p-section
      .l-container.p-section__content
        h2.p-section__title(data-aos="fade-up" data-aos-duration="1000") お知らせ
        .news-section__main
          .news-section__index.p-tab
            ul.p-tab__index-list(data-aos="fade-up" data-aos-duration="1000")
              li.p-tab__index-item.js-tabNav.is-active(data-target="js-forTab"): a(href='').p-tab__link 営業情報
              li.p-tab__index-item.js-tabNav(data-target="js-forTab"): a(href='').p-tab__link その他
          .p-tab__pages
            .p-tab__page.js-forTab.is-active(data-aos="fade-up" data-aos-duration="1000")
              .p-tab__page-content.news-section__body
                -
                  const news_list = [
                    {
                      img: 'news01.jpg',
                      alt: 'お部屋のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日は27日になります。'
                    },
                    {
                      img: 'news02.jpg',
                      alt: '内装のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日のお知らせ'
                    },
                    {
                      img: 'news02.jpg',
                      alt: '内装のイメージ',
                      date: '2020.12.11',
                      title: '12.21は臨時休業とさせていただきますので、よろしくお願いします。'
                    },
                    {
                      img: 'news01.jpg',
                      alt: 'お部屋のイメージ',
                      date: '2020.12.01',
                      title: '和室の改装を行いますため、12.10はお休みさせていただきます。'
                    },
                    {
                      img: 'news01.jpg',
                      alt: 'お部屋のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日は27日になります。'
                    },
                    {
                      img: 'news02.jpg',
                      alt: '内装のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日のお知らせ'
                    },
                  ];
                each news_item in news_list
                  article.c-media.news-section__media
                    a(href="#").c-media__link.c-media__content
                      figure.c-media__img: img(src=`./img/${news_item.img}`, alt=news_item.alt)
                      .c-media__body
                        time(datetime=news_item.date).c-media__date= news_item.date
                        .c-media__title= news_item.title

            .p-tab__page.js-forTab(data-aos="fade-up" data-aos-duration="1000")
              .p-tab__page-content.news-section__body
                -
                  const others = [
                    {
                      img: 'news01.jpg',
                      alt: 'お部屋のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日は27日になります。'
                    },
                    {
                      img: 'news02.jpg',
                      alt: '内装のイメージ',
                      date: '2020.12.24',
                      title: '年末最後の営業日のお知らせ'
                    },
                    {
                      img: 'news02.jpg',
                      alt: '内装のイメージ',
                      date: '2020.12.11',
                      title: '12.21は臨時休業とさせていただきますので、よろしくお願いします。'
                    },
                  ];
                each other in others
                  article.c-media.news-section__media
                    a(href="#").c-media__link.c-media__content
                      figure.c-media__img: img(src=`./img/${other.img}`, alt=other.alt)
                      .c-media__body
                        time(datetime=other.date).c-media__date= other.date
                        .c-media__title= other.title

    section.access-section.p-section
      .l-container.p-section__content.p-section__content_padding-bottom_semi-large
          h2.p-section__title(data-aos="fade-up" data-aos-duration="1000") アクセス
          .access-section__main
            .access-section__address.address-box.c-flex.c-flex--extend-right(data-aos="fade-up" data-aos-duration="1000")
              figure.address-box__img.c-flex__primary: img(src="./img/access.jpg", alt="外観のイメージ")
              .address-box__body.c-flex__secondary
                dl.address-box__main
                  address.address-box__item
                    dt 住所
                    dd 〒000-0000 
                    dd 山形県鶴岡市xxxxxxxxxx
                  .address-box__item
                    dt TEL/FAX
                    dd 000-0000-0000/00-0000-0000
                  .address-box__item
                    dt 営業時間
                    dd 14:00-23:00
                p.address-box__sub ＊4名以上のご予約の場合は、最寄り駅の「鶴岡駅」より送迎が可能ですので、ご連絡ください。
            .access-section__map-area(data-aos="fade-up" data-aos-duration="1000")
              .access-section__map
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24933.85841738821!2d139.581050877829!3d38.63203904518286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8c6dbd6c03ae15%3A0x10bc5da99bc816ef!2z44CSOTk5LTcyMDUg5bGx5b2i55yM6ba05bKh5biC5rip5rW3!5e0!3m2!1sja!2sjp!4v1614469302690!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  // /.content
  |
  |

  append footer
